N8N_POSTGRES_PASSWORD="{{ N8N_POSTGRES_PASSWORD }}"
N8N_PGADMIN_PASSWORD="{{ N8N_PGADMIN_PASSWORD }}"
N8N_WEBHOOK_URL="{{ N8N_WEBHOOK_URL }}"
N8N_EDITOR_BASE_URL="{{ N8N_WEBHOOK_URL }}"
N8N_HOST="{{ N8N_HOST }}"
N8N_OPENAI_API_KEY="{{ N8N_OPENAI_API_KEY if N8N_OPENAI_API_KEY else "" }}"
CLOUDFLARE_TUNNEL_TOKEN="{{ CLOUDFLARE_TUNNEL_TOKEN }}"


N8N_PROTOCOL=https
N8N_POSTGRES_USER=n8n_pg_user
N8N_POSTGRES_DATABASE=n8n_pg_db
N8N_PGADMIN_EMAIL=admin@example.com
N8N_GENERIC_TIMEZONE=Europe/Moscow
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=false
N8N_INBUCKET_WEB_PORT=9000