\set jwt_secret `echo "{{ SUPABASE_JWT_SECRET }}"`
\set jwt_exp `echo "{{ SUPABASE_JWT_EXPIRY }}"`

ALTER DATABASE postgres SET "app.settings.jwt_secret" TO :'jwt_secret';
ALTER DATABASE postgres SET "app.settings.jwt_exp" TO :'jwt_exp';