SUPABASE_POSTGRES_PASSWORD="{{SUPABASE_POSTGRES_PASSWORD}}"
SUPABASE_JWT_SECRET="{{SUPABASE_JWT_SECRET}}"
SUPABASE_ANON_KEY="{{SUPABASE_ANON_KEY}}"
SUPABASE_SERVICE_ROLE_KEY="{{SUPABASE_SERVICE_ROLE_KEY}}"
SUPABASE_DASHBOARD_USERNAME="{{SUPABASE_DASHBOARD_USERNAME}}"
SUPABASE_DASHBOARD_PASSWORD="{{SUPABASE_DASHBOARD_PASSWORD}}"
SUPABASE_SECRET_KEY_BASE="{{SUPABASE_SECRET_KEY_BASE}}"
SUPABASE_VAULT_ENC_KEY="{{SUPABASE_VAULT_ENC_KEY}}"

SUPABASE_POSTGRES_USERNAME="{{SUPABASE_POSTGRES_USERNAME}}"
SUPABASE_POSTGRES_HOST="{{SUPABASE_POSTGRES_HOST}}"
SUPABASE_POSTGRES_DB="{{SUPABASE_POSTGRES_DB}}"
SUPABASE_POSTGRES_PORT="{{SUPABASE_POSTGRES_PORT}}"

SUPABASE_POOLER_PROXY_PORT_TRANSACTION="{{SUPABASE_POOLER_PROXY_PORT_TRANSACTION}}"
SUPABASE_POOLER_DEFAULT_POOL_SIZE="{{SUPABASE_POOLER_DEFAULT_POOL_SIZE}}"
SUPABASE_POOLER_MAX_CLIENT_CONN="{{ SUPABASE_POOLER_MAX_CLIENT_CONN }}"
SUPABASE_POOLER_TENANT_ID="{{SUPABASE_POOLER_TENANT_ID}}"

SUPABASE_KONG_HTTP_PORT="{{SUPABASE_KONG_HTTP_PORT}}"
SUPABASE_KONG_HTTPS_PORT="{{SUPABASE_KONG_HTTPS_PORT}}"

SUPABASE_URL="{{SUPABASE_URL}}"
SUPABASE_PUBLIC_URL="{{SUPABASE_PUBLIC_URL}}"
SUPABASE_STUDIO_PORT="{{SUPABASE_STUDIO_PORT}}"

SUPABASE_PGRST_DB_SCHEMAS=public,storage,graphql_public

SUPABASE_SITE_URL="{{SUPABASE_SITE_URL}}"
SUPABASE_ADDITIONAL_REDIRECT_URLS="{{SUPABASE_ADDITIONAL_REDIRECT_URLS}}"
SUPABASE_JWT_EXPIRY="{{SUPABASE_JWT_EXPIRY}}"
SUPABASE_DISABLE_SIGNUP="{{SUPABASE_DISABLE_SIGNUP}}"
SUPABASE_API_EXTERNAL_URL="{{SUPABASE_API_EXTERNAL_URL}}"

SUPABASE_MAILER_URLPATHS_CONFIRMATION="{{SUPABASE_MAILER_URLPATHS_CONFIRMATION}}"
SUPABASE_MAILER_URLPATHS_INVITE="{{SUPABASE_MAILER_URLPATHS_INVITE}}"
SUPABASE_MAILER_URLPATHS_RECOVERY="{{SUPABASE_MAILER_URLPATHS_RECOVERY}}"
SUPABASE_MAILER_URLPATHS_EMAIL_CHANGE="{{SUPABASE_MAILER_URLPATHS_EMAIL_CHANGE}}"

SUPABASE_ENABLE_EMAIL_SIGNUP="{{SUPABASE_ENABLE_EMAIL_SIGNUP}}"
SUPABASE_ENABLE_EMAIL_AUTOCONFIRM="{{SUPABASE_ENABLE_EMAIL_AUTOCONFIRM}}"
SUPABASE_SMTP_ADMIN_EMAIL="{{SUPABASE_SMTP_ADMIN_EMAIL}}"
SUPABASE_SMTP_HOST="{{SUPABASE_SMTP_HOST}}"
SUPABASE_SMTP_PORT="{{SUPABASE_SMTP_PORT}}"
SUPABASE_SMTP_USER="{{SUPABASE_SMTP_USER}}"
SUPABASE_SMTP_PASS="{{SUPABASE_SMTP_PASS}}"
SUPABASE_SMTP_SENDER_NAME="{{SUPABASE_SMTP_SENDER_NAME}}"

SUPABASE_ENABLE_PHONE_SIGNUP="{{SUPABASE_ENABLE_PHONE_SIGNUP}}"
SUPABASE_ENABLE_PHONE_AUTOCONFIRM="{{SUPABASE_ENABLE_PHONE_AUTOCONFIRM}}"
SUPABASE_ENABLE_ANONYMOUS_USERS="{{SUPABASE_ENABLE_ANONYMOUS_USERS}}"

SUPABASE_STUDIO_DEFAULT_ORGANIZATION="{{SUPABASE_STUDIO_DEFAULT_ORGANIZATION}}"
SUPABASE_STUDIO_DEFAULT_PROJECT="{{SUPABASE_STUDIO_DEFAULT_PROJECT}}"

SUPABASE_STUDIO_PORT="{{SUPABASE_STUDIO_PORT}}"

SUPABASE_IMGPROXY_ENABLE_WEBP_DETECTION="{{SUPABASE_IMGPROXY_ENABLE_WEBP_DETECTION}}"

SUPABASE_OPENAI_API_KEY="{{SUPABASE_OPENAI_API_KEY | default('')}}"

SUPABASE_FUNCTIONS_VERIFY_JWT="{{SUPABASE_FUNCTIONS_VERIFY_JWT}}"

SUPABASE_LOGFLARE_LOGGER_BACKEND_API_KEY="{{LOGFLARE_API_KEY}}"

LOGFLARE_API_KEY="{{LOGFLARE_API_KEY}}"
SUPABASE_DB_ENC_KEY="{{SUPABASE_DB_ENC_KEY}}"
LOGFLARE_PUBLIC_ACCESS_TOKEN="{{LOGFLARE_API_KEY}}"

# Docker socket location - this value will differ depending on your OS
SUPABASE_DOCKER_SOCKET_LOCATION="{{SUPABASE_DOCKER_SOCKET_LOCATION}}"

# Google Cloud Project details
SUPABASE_GOOGLE_PROJECT_ID="{{SUPABASE_GOOGLE_PROJECT_ID | default('')}}"
SUPABASE_GOOGLE_PROJECT_NUMBER="{{SUPABASE_GOOGLE_PROJECT_NUMBER | default('')}}"